#idsamantha{
    color: brown;
}
.idzagdil{
    color: blue;
}
body{
    background-color: yellow;
}
ul strong li{
    color: blueviolet;
}
li{
    color: yellowgreen;
}
h2{
    color: green;
} 
.idp{
    color: palevioletred;
}
#idcss{
    color: blue;
}